
/* Global Reset */
* {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

li {
    list-style-type: none;
}


a {
    color: #2b042b;
}

header {
    padding: 20px;
}

header h1 a {
    text-decoration: none;
}

header h1 a:hover {
    text-decoration: underline;
}

header .logo {
    height: 58px;
    width: 58px;
    float: left;
    margin-right: 15px;
}

.container {
    font-family: 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
    background: white;
    max-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    padding-bottom: 50px;
}

footer {
    padding: 20px;
    background: white;
    font-size: 12px;
}

.group-list {
    padding: 0 20px;
}

.group-list li {
    display: inline-block;
    margin-right: 2px;
}

.group-list li a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 1000px;
    text-decoration: none;
    border: 1px solid #eee;
}

.group-list li a:hover {
    background: #eee;
}

.group-list li a.active {
    background: #2b042b;
    color: white;
}


.group-section {
    padding: 20px;
    margin-top: 20px;
}

.group-section h2 {
    display: inline-block;
    margin-right: 10px;
}

.group-section .meta-info {
    display: inline-block;
    color: #eee;
}

.group-section h3 {
    margin-bottom: 10px;
}

.past-events {
    margin-top: 20px;
}

.past-events ul {
    padding-top: 5px;
}

.past-events li {
    margin-bottom: 10px;
}