---
layout: default
title: Journocoders
---

<ul class="group-list">
    <li><a href="#london">London</a></li>
    <li><a href="#madrid">Madrid</a></li>
</ul>

<div class="group-section" id="london">
    <h2>London</h2>
    <p class="meta-info">
        <a href="http://meetup.com/journocoders/">Meetup page</a> | 
        <a href="http://twitter.com/journocoders/">Twitter account</a> |
        <a href="https://journocoders.hackpad.com">Hackpad</a>
    </p>
    <div class="past-events">
        <h3>Past events</h3>
        <ul>
        {% for event in site.data.london %}
            <li>- <a href="{{event.notes}}">{{ event.topic }}</a> ({{event.date | date_to_string}})</li>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="group-section" id="madrid">
    <h2>Madrid</h2>
    <p class="meta-info">
        <a href="http://twitter.com/journocodersMAD/">Twitter account</a> |
        <a href="https://journocodersmadrid.hackpad.com">Hackpad</a>
    </p>
    <div class="past-events">
        <h3>Past events</h3>
        <ul>
        {% for event in site.data.madrid %}
            <li>- <a href="{{event.notes}}">{{ event.topic }}</a> ({{event.date | date_to_string}})</li>
        {% endfor %}
        </ul>
    </div>
</div>