@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:600');

:root {
    --base: #2b042b;
    --tint: #a13d63;
}

body {
    max-width: 980px;
    min-height: 100vh;
    background: #f8f8fa;
    margin: 0 auto;
    color: var(--base);
    font: 37px 'Libre Franklin', sans-serif;
    font-weight: 600;
    line-height: 1.4;
}

a {
    padding: 1px 2px;
    color: inherit;
    text-decoration-color: var(--tint);
    -webkit-text-decoration-color: var(--tint);
}

a:hover {
    color: white;
    background: var(--tint);
    border-radius: 2px;
}

a:active {
    color: white;
    background: var(--base);
    border-radius: 2px;
}

header {
    display: block;
    width: 50%;
    min-width: 350px;
    background: var(--base);
    border-radius: 6px;
    margin: 10% 20px 5px 20px;
}

header a {
    display: block;
    padding: 0;
    text-decoration: none;
}

header a:hover {
    background: none;
}

header a img {
    display: block;
    width: 100%;
}

header span {
    display: block;
    padding-bottom: 22px;
    color: var(--tint);
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
}

main {
    padding: 0 20px 20px 20px;
}

p {
    margin: 40px 0;
}

main > div:last-of-type {
    margin-bottom: 40px;
}

h1 {
    margin: 20px 0 0 0;
    font-size: 30px;
}

h2 {
    margin: 0;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
}

h3 {
    margin: 60px 0 0 0;
    font-size: 24px;
    font-weight: 700;
}

h4 {
    margin: 0;
    font-size: 30px;
}

hr {
    margin: 90px 0 0 0;
    border: none;
    border-top: 3px solid var(--tint);
}

progress {
    appearance: none;
    -webkit-appearance: none;
    display: block;
    width: 6px;
    height: 60px;
    margin: 100px auto;
    border-left: 6px solid white;
    animation: rotate 1s infinite linear;
}

.join {
}

.join span {
    display: inline;
}

.join a {
    display: inline-block;
    border-radius: 3px;
    background: var(--base);
    margin-left: 5px;
    padding: 4px 16px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.join a:hover {
    background: var(--tint);
}

.join a:active {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red, violet);
    background-size: 200% auto;
    animation: flow 1.5s linear infinite;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 3px black;
}

@keyframes flow {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 200% 0;
	}
}

.past-events {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.event {
    display: block;
    margin: 20px 0;
    border: 3px solid var(--tint);
    border-radius: 3px;
    padding: 18px 20px;
    text-decoration: none;
}

.event:hover {
    border-color: transparent;
    background: var(--base);
    color: white;
}

.event:hover h4 {
    text-decoration: underline;
    text-decoration-color: var(--tint);
    -webkit-text-decoration-color: var(--tint);
}

.event time {
    float: right;
    display: block;
    margin: 3.5px 0;
    font-size: 14px;
}

.event h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

@media (max-width: 600px) {

    header {
        min-width: initial;
        width: calc(100% - 40px);
    }
}

@media (max-width: 800px) {

    body {
        font-size: 28px;
    }

    .event time {
        float: none;
        margin: 0 0 10px 0;
    }

}
